<%= simple_form_for @contact do |f| %>
    <%= field_set_tag 'Contact Form', class: "contact-form" do %>
        <%= f.input :name, label: "Name", placeholder: "John Smith" %>
        <%= f.input :email, label: "Email", placeholder: "jsmith@email.com" %>
        <%= f.input :phone, label: "Phone Number", placeholder: "555-444-1234" %>
        <%= f.input :message, :required => false, label: "Questions or Comments", :as => :text, :input_html => { class: 'input-optional', 'rows' => 5} %>
        <%= field_set_tag 'Property for Rebate Evaluation (Optional)' do %>
            <%= f.input :street, :required => false, label: "Street Address", input_html: { class: 'input-optional' } %>
            <%= f.input :city, :required => false, input_html: { class: 'input-optional', value: "Lodi" } %>
            <%= f.input :state, :required => false, input_html: { class: 'input-optional', value: "California" } %>
            <%= f.input :zip, :required => false, label: "Zip Code", input_html: { class: 'input-optional' } %>
        <% end %>
        <br />
        <div class="small-6 small-centered text-center columns">
        <%= f.button :submit, label: "Submit", value: "Submit", class: "large-8" %>
        </div>
    <% end %>
<% end %>
